.individual-blog-container {
  border-radius: 20px;
  border: 1px solid $secondary-text-color;
  color: $primary-text-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
  padding-top: 5px;
}
.blog-text {
  margin-left: 5px;
  margin-right: 5px;
}
.blog-heading {
  margin-left: 5px;
  margin-right: 5px;
}
.button-container {
  margin-bottom: 10px;
  margin-right: 10px;
}

@media only screen and (min-width: 414px) {
  .blog-heading {
    font-size: 9px;
  }
}

@media only screen and (min-width: 820px) {
  .blog-heading {
    font-size: 11px;
  }
}
@media only screen and (min-width: 1280px) {
  .blog-heading {
    font-size: 13px;
  }
}
