.form-container {
  max-width: 300px;
}

input[type="text"],
select,
textarea {
  background-color: $primary-text-color;
  border: 1px solid $primary-text-color;
  font-family: monospace;
  font-size: small;
  margin-top: 6px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.standard-button {
  background-color: $secondary-text-color;
  border: none;
  cursor: pointer;
  color: $primary-text-color;
  font-family: monospace;
  padding: 10px 25px;
}

.standard-button:hover {
  background-color: $secondary-text-color;
}

#subject {
  height: 120px;
}

@media only screen and (min-width: 414px) {
  input[type="text"],
  select,
  textarea {
    font-size: 0.6em;
  }
}

@media only screen and (min-width: 820px) {
  input[type="text"],
  select,
  textarea {
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 1280px) {
  input[type="text"],
  select,
  textarea {
    font-size: 0.9em;
  }
}
