.avatar-image {
  border-radius: 5%;
}
.quote {
  margin-top: 30px;
  font-style: italic;
}
@media only screen and (min-width: 414px) {
  .avatar-image {
    width: 300px;
  }
}

@media only screen and (min-width: 820px) {
  .avatar-image {
    width: 400px;
  }
}
@media only screen and (min-width: 1280px) {
  .avatar-image {
    width: 600px;
  }
}
