.main-container {
  border-bottom: 1px solid darken($color: $secondary-text-color, $amount: 40);
  display: flex;
  flex-direction: column;
  padding-left: 200px;
}
.main-heading {
  display: flex;
  flex-direction: row;
}
.quote {
  flex: 1;
}

.avatar {
  align-self: flex-end;
  margin-bottom: 370px;
}
.avatar-image {
  border-radius: 50%;
  max-width: 50%;
}
