@import "../new-stylesheets/new-header-section";
@import "../new-stylesheets/variables.scss";
@import "../new-stylesheets/footer";
@import "../new-stylesheets/main";

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-color: $primary-background-color;
  color: $primary-text-color;
  font-family: monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
