/*The colour of the text inside the footer*/
.designed-by {
  color: $primary-text-color;
}
/*Aligning the footer to stick to the bottom*/
footer {
  margin-top: auto;
}
/*The entire footer container*/
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/*The logo inside the footer*/
.logo-footer {
  max-width: 50px;
}
/*Responsive for iPad Air*/
@media only screen and (min-width: 414px) {
  .designed-by {
    font-size: 0.7em;
  }
  .logo-footer {
    width: 40px;
  }
}
/*Responsive for iPad Air*/
@media only screen and (min-width: 820px) {
  .designed-by {
    font-size: 0.8em;
  }
  .logo-footer {
    width: 50px;
  }
}
/*Responsive for standard laptop or monitor size*/
@media only screen and (min-width: 1280px) {
  .designed-by {
    font-size: 0.9em;
  }
  .logo-footer {
    width: 60px;
  }
}
