.github-image {
  max-width: 50px;
}

.header-container {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.linkedin-image {
  max-width: 50px;
  margin-left: 5px;
}

.logo-image {
  max-width: 110px;
}

.logo-container {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.navigation-container {
  display: flex;
  flex: 8;
  justify-content: flex-end;
}
.nav-menu a {
  color: #dbdbdb;
  text-decoration: none;
}

.nav-menu li {
  display: inline;
  padding-left: 0.9em;
  padding-right: 0.9em;
}

.nav-menu li:hover {
  background-color: #6563ff;
  border-radius: 5px;
  transition: 0.3s ease;
}

.socials-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-top: 5px;
  margin-right: 5px;
}

@media only screen and (min-width: 414px) {
  .github-image {
    width: 20px;
  }
  .linkedin-image {
    width: 20px;
  }
  .logo-image {
    width: 50px;
  }
  .nav-menu {
    font-size: 0.7em;
  }
}

@media only screen and (min-width: 820px) {
  .github-image {
    width: 30px;
  }
  .linkedin-image {
    width: 30px;
  }
  .logo-image {
    width: 70px;
  }
  .nav-menu {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1280px) {
  .github-image {
    width: 40px;
  }
  .linkedin-image {
    width: 40px;
  }
  .logo-image {
    width: 110px;
  }
  .nav-menu {
    font-size: 1.2em;
  }
}
