.footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.designed-by {
    color: $primary-text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.logo-footer {
    max-width: 50px;
}