.hero-container {
    display: block;
    padding-left: 20rem;
    color: $primary-text-color;
    position: absolute;
}
.hero-heading {
    font-size: large;

}
.first-name {
    display: inline;

}

.last-name {
    display: inline;
    color: $secondary-text-color;
}

.quote {
    float:right;
}