/*Imported all seperate styling sheets into one*/
@import "./components/defaultstyles";
@import "./components/variables";
@import "./pages/aboutme";
@import "./pages/bloglistpage";
@import "./pages/blogpage";
@import "./pages/contactme";
@import "./pagesections/footer";
@import "./pagesections/header";
@import "./pagesections/main";
@import "./pages/home";

/*The defaults for the entire document including left gradient border*/
html {
  border-bottom: 0;
  border-left: 5px solid $secondary-text-color;
  border-image: linear-gradient(
      $primary-background-color,
      $secondary-text-color,
      $primary-background-color
    )
    1;
  box-sizing: border-box;
  border-right: 0;
  border-top: 0;
  font-size: 100%;
}
/*Right gradient border*/
html {
  border-right: 5px solid $secondary-text-color;
}
/*The default styling of the pages*/
body {
  background-color: $primary-background-color;
  color: $primary-text-color;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
}
