@import './variables.scss';
@import './header.scss';
@import './hero';
@import './footer';

body {
    background-color: $primary-background-color;
    font-family: monospace;
    width: 100vw;
    height: 100vh;

}